.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  width: 100%;
}

/* Контейнер иконки виден только на десктопе */
.features-icon-wrap {
  display: none;
}

.features-subtitle {
  text-align: center;
}

.features-text {
  font-weight: 500;
}

/* ---------- Tablet ---------- */
@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-subtitle {
    text-align: left;
  }
}

/* ---------- Desktop ---------- */
@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 112px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
  }

  .features-text {
    font-weight: 400;
  }
}
